@import "variables.css";
@import "fonts.css";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: normal;
  line-height: 1.25;
}
.icon {
  font-family: 'Material Icons';
  font-size: inherit;
  font-style: normal;
  vertical-align: middle;
  line-height: inherit;
  display: inline-block;
}
.main {
  background-color: var(--color-blue);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: var(--color-white);
}
.audio {
  display: none;
}
.albums {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: var(--controls-height);
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.albums__group {
  display: inline-block;
  max-width: 100vw;
  white-space: normal;
  vertical-align: top;
}
.albums__album {
  display: inline-block;
  margin: var(--grid-gutter);
}
.album__cover {
  border: 1px solid var(--color-black);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  background-color: var(--color-white);
  width: var(--cover-width);
  height: var(--cover-height);
  margin: 0;
  padding: 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 0.25s linear;
}
.albums__album.is-selected .album__cover {
  border: 1px solid var(--color-white);
  box-shadow: var(--box-shadow-selected);
}
.album__cover--fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-black);
  background-size: contain;
  width: auto;
  height: auto;
  box-shadow: none;
}

.controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--controls-height);
  background: var(--color-dark-purple);
  padding: var(--grid-gutter);
}

.controls__album-title,
.controls__playback {
  position: absolute;
  left: calc(var(--cover-width) + (var(--grid-gutter) * 2))
}
.controls__album-title {
  bottom: 2rem;
}
.controls__playback {
  top: var(--grid-gutter);
  right: var(--grid-gutter);
  bottom: 5rem;
}
.controls__playback-icon {
  position: absolute;
  top: 0;
  font-size: 62px;
  line-height: 1;
  cursor: pointer;
}
.controls__playback-icon--play {
  left: 0;
}
.controls__playback-icon--prev {
  left: 50%;
}
.controls__playback-icon--next {
  right: 0;
}
